<% layout("/layouts/boilerplate") %>
    <h1>Show Listing</h1>
    <h2><%= listing.title %></h2>
    <p><%= listing.description %></p>
    <p>Price: &#2547; <%= listing.price.toLocaleString("en-IN") %></p>
    <p>Location: <%= listing.location %></p>
    <p>Country: <%= listing.country %></p>
    <a href="/listings/<%=listing._id%>/edit">Edit Listing</a>
    <form method="post" action="/listings/<%=listing.id%>?_method=DELETE">
        <button type="submit">Delete Listing</button>
    </form>


