<% layout("/layouts/boilerplate") %>
<div class="editlisting_wrapper wrapper">
    <form method="post" action="/listings" class="needs-validation" novalidate>
        <h1>Edit Listing</h1>
        <div class="row col-lg-8">
            <div class="offset-2">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label><br>
                    <input type="text" id="title" class="form-control" name="listing[title]" required value="<%= listing.title %>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label><br>
                    <textarea id="description" class="form-control" name="listing[description]" rows="4" cols="50"
                        required><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL:</label><br>
                    <input type="text" id="image" class="form-control" name="listing[image]" value="<%= listing.image %>">
                </div>
                <div class="row ">
                    <div class="col-lg-4 mb-3">
                        <label for="price" class="form-label">Price (in BDT):</label><br>
                        <input type="number" id="price" class="form-control" name="listing[price]" value="<%= listing.price %>" required>
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label for="location" class="form-label">Location:</label><br>
                        <input type="text" id="location" class="form-control" name="listing[location]" value="<%= listing.location %>" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country:</label><br>
                    <input type="text" id="country" class="form-control" name="listing[country]"  value="<%= listing.country %>" required>
                </div>
                <button class="edit-btn btn btn-dark" type="submit">Edit Listing</button>
            </div>
        </div>
    </form>
</div>    
